body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

.topnav {
    width: 100%;
    background-color: #19467e;
    overflow: hidden;
    padding: 10px;
    position: fixed;
    z-index: 1;
}

.brand-name{
    color: #f27330;
    font-size: 25px;
    font-weight: 700;
    padding: 10px;
    padding-left: 0px;
    border-right:1px solid white;
}
.logout{
    border-left:1px solid white;
    padding: 5px;
    padding-left: 20px;
}
.topnav a {
    color: #f27330;
    text-decoration: none;
    display: inline-block;
    margin: 0 20px;
    font-size: 18px;
}
.sidenav {
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 60px; /* Adjusted top position for the top navbar */
    left: 0;
    background-color: #19467e;
}

.sidenav a {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: block;
    cursor: pointer;
}

.sidenav a:hover {
    color: #f27330;
}
.sidenav a:not(.collapsible) {
    cursor: default; 
}

.sidenav h4 {
    color: white;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.collapsible {
    cursor: pointer;
}

.arrow {
    float: right;
}

.sublist {
    padding-left: 20px;
    font-size: 16px;
    display: none;
}
.sublist {
    display: none;
}

.show-sublist {
    display: block;
}
.content {
    height: 180px;
    margin-top: 50px;
    margin-left: 200px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
}

.live-course { 
    grid-area: 1 / 1 / 2 / 2; 
    background-color: #2977ff;
}
.live-students { 
    grid-area: 1 / 2 / 2 / 3; 
    background-color: #ffc83d;
}
.completed-students { 
    grid-area: 1 / 3 / 2 / 4; 
    background-color: #6f42c1;
}
.placed-students { 
    grid-area: 1 / 4 / 2 / 5; 
    background-color: #EE3232;
}

.chart {
    margin-left: 200px;
    padding: 20px;
    height: 400px;
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    }
    
.bar-chart { 
    grid-area: 1 / 1 / 2 / 2;
    border: dotted; 
}
.donught-chart { 
    grid-area: 1 / 2 / 2 / 3; 
    border: dotted; 
}
.graph { 
    grid-area: 1 / 3 / 2 / 4;
    border: dotted; 
 }